@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  text-align: center;
  width: 100%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  padding-bottom: 30px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  color: #555;
  text-decoration: none;
}

footer {
  background: #999;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
