@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

header {
  background-color: #fff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  height: 110px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.title {
  padding-bottom: 10px;
  text-transform: uppercase;
}

/* Menu oculto */
.short-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.short-menu img {
  width: 35px;
}

/* */

.menu-items {
  display: block;
  list-style: none;
}

.menu-items li {
  display: inline-block;
}

.menu-items li a {
  font-size: 18px;
  color: #555;
  text-decoration: none;
  padding: 10px 20px;
}

.actual {
  color: rgb(189, 4, 4) !important;
  font-weight: 600;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  background: #999;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  z-index: 19;
}

@media (max-width: 455px) {
  .short-menu {
    display: block;
  }

  .menu-items {
    display: none;
  }

  .title {
    text-align: left;
  }

  header {
    height: 70px;
  }
}
